<!DOCTYPE html>
<html lang="en">
<head>
    <!-- view file: favorite-subjects.ejs -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (typeof msg != "undefined") { %>
        <title>MyGuide Favorites: <%= msg %></title>
        <% } else { %>
            <title>MyGuide Favorites</title>
    <% } %>
    
    <%- include('partials/header-includes.ejs'); %>
    <style>
        form {display: inline}
        li {list-style: none; margin-bottom: .5rem}
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
        
    <script>
        $(document).ready(function() {
            $('.select2').select2({theme: 'bootstrap-5'});
            $('.fav-removal-button').click(function() {
                $(this).text('').addClass('spinner-grow');
            });
            $('#add-subject-button').click(function() {
                let selectedSubject = $('select[name="subjectToAdd"]').val();
                $('#favorite-subjects-list').append('<li class="text-success fw-bold"><button class="spinner-grow btn btn-sm border-0 me-2 text-success">...</button>Adding... ' + selectedSubject + '</li>');
            });
        });
    </script>
</head>
<h1 class="mt-4 h3 text-danger text-lg-center text-center">MyGuide Favorites</h1>

<body class="container">
    <div class="row">
        <div class="top-border-red-shadow shadow-sm">
            <form action="/favorites/subjects/add" method="POST">
                <label for="subjectToAdd" class="card-header text-white">Add a Favorite Subject:</label>
                <div class="input-group card-body">
                    <select name="subjectToAdd" class="form-select select2">
                        <option value="" disabled>Select a Subject to Add it as a Favorite</option>
                        <% subjects.forEach((s)=> { %>
                            <option value="<%= s %>">
                                <%= s %>
                            </option>
                            <% }); %>
                    </select>
                    <input type="submit" value="Add Subject to My Favorites" class="input-group-text btn btn-warning" id="add-subject-button">
                </div>
            </form>
        </div>



        <div class="mt-5 col-md-8 col-12">
            <div class="card mb-3 shadow-sm">
                <div class="card-header px-4 py-3 shadow-sm">
                    <h2 class="mb-0 h4"><i class="bi bi-star me-2 shadow"></i>&nbsp;Your Current Favorites</h2>
                </div>

                <div class="card-body list-unstyled">
                    <% if (favorites.favoriteSubjects !==undefined) { %>
                        <ul class="ps-3" id="favorite-subjects-list">
                            <% favorites.favoriteSubjects .sort() .forEach((f)=> { %>
                                <li>
                                    <form action="/favorites/subjects/remove" method="post" class="form-inline">
                                        <div class="form-group>">
                                            <button type="submit" class="btn btn-sm btn-outline-danger border-0 me-2 fav-removal-button" aria-label="Remove '<%= f %>' as a favorite subject" title="Remove favorite">
                                                <i class="bi bi-x-circle-fill me-2" aria-hidden="true"></i>
                                            </button>
                                            <%= f %>
                                                <input type="hidden" name="subjectToRemove" value="<%= f %>">
                                        </div>
                                    </form>
                                </li>
                                <% }); %>
                        </ul>
                        <% } else { %>
                            <p>You have not selected any favorite subjects</p>
                            <% } %>

                </div>
            </div>
        </div>

        <div class="mt-5 col-md-4 col-12">
            <div class="card mb-3 shadow-sm">
                <div class="card-header px-4 py-3 shadow-sm">
                    <h2 class="mb-0 h4"><i class="bi bi-info me-2 shadow"></i>&nbsp;About Favorite Subjects</h2>
                </div>
                <div class="card-body">
                    <p>MyGuide will always show subjects related to your current courses, major, and department affiliations.</p>
                    <p>In addition, you can use the selector above to add any subject/department you want to your favorites, and MyGuide will show the relevant content in your dashboard.</p>
                    <p>You can remove favorites by clicking the red <i class="bi bi-x-circle-fill me-2" aria-label="x icon" style="color:red"></i> under Your Current Subjects</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="/">
            <button id="logout" type="button" class="mt-3 btn btn-secondary p-2 shadow">
                <span class="glyphicon glyphicon-log-out"></span>
                <i class="bi bi-house me-2 shadow"></i>Return to MyGuide</button>
        </a>
    </div>
</body>
</html>

