<!-- begin footer -->
</div> <!-- End of class="row" -->
</div> <!-- End of main container-fluid -->

<div id="helpLink-wrapper" class="feedback-wrapper text-center">
<% if (config.refHelpLink && config.refHelpLink.url && config.refHelpLink.text) { %>
  <a href="<%- config.refHelpLink.url %>" class="feedback-link">
    <%- config.refHelpLink.text %>
  </a>
<% } %> 

<% if (config.techHelpLink && config.techHelpLink.url && config.techHelpLink.text) { %>
  <a href="<%- config.techHelpLink.url %>" class="feedback-link">
    <%- config.techHelpLink.text %>
  </a>
<% } %> 
</div>

  <!-- library logo -->
  <div class="row">
    <div class="col-4 offset-4 mt-3 mb-3 p-3 bg-dark">
      <% let orgLogo; %>
      <% let orgLogoStr = config.images.organizationLogo %>
      <% if (orgLogoStr && fs.existsSync('public/img/'+ orgLogoStr)) { %>
        <% orgLogo = '/img/' + orgLogoStr; %>
      <% } %>
      <% if (orgLogo) { %>
      <a class="navbar-brand p-0" href="<%= config.organization.url %>"><img class="img-fluid"
          src="<%= orgLogo %>" alt="<%= config.organization.name %>"></a>
      <% } %>
    </div>
  </div>
  
  <!-- end library logo -->
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JavaScript Bundle with Popper -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript">

  var firstTabEl = document.querySelector('#myTab li:nth-child(1) button');
  var firstTab = new bootstrap.Tab(firstTabEl);
  firstTab.show();

  $('#myTab li:nth-child(1) button[data-bs-toggle="tab"]:first-child').addClass('active');

  $('#myTab li:nth-child(1)').addClass('li-gray');
  $('#myTab li.nav-item').click(function(){
    $('li.nav-item.li-gray').removeClass('li-gray');
    $(this).addClass('li-gray');
  });

</script>
</body>
<!-- end footer -->
</html>