<%- include ('header') %>

<!-- begin view file: index.ejs -->
  <script>
    $(document).ready(function () {
      $('.collapse').collapse('hide');
      $('button[role="tab"]').on('click', function() { window.scrollTo(0,0)})

      // if right arrow in nav, jump from nav to main panel 
      $('.nav-item').keydown(function (e) {
        if (e.keyCode == 39) {
          $('.tab-pane.active').find('a:first').focus();
        }
      });
      // if left arrow in main, jump from main panel to nav
      $('.tab-pane').keydown(function (e) {
        if (e.keyCode == 37) {
          console.log('attempting to go left')
          $('.nav-item button[aria-selected="true"]').focus();
        }
      });
      $('.favorite-indicator').click(function () {
        let favorite = $(this);
        favorite.addClass('spinner-grow spinner-grow-sm text-warning')
        let resourceId = favorite.attr('data-resourceId');
        let resourceType = favorite.attr('data-resourceType');
        let favorite_status = favorite.not().hasClass('not-favorite');
        let addOrRemove = favorite_status ? 'add' : 'remove';
        let url = '/favorites/'+resourceType+'s/' + addOrRemove;
        let resourceTitle = favorite.next('a').text();
        $.ajax({
          url: url,
          data: { resourceId: resourceId },
          method: 'POST',
          success: function (data) {
            let allMatchingFavorite = $('.favorite-indicator[data-resourceId="'+resourceId+'"][data-resourceType="'+resourceType+'"]');
            allMatchingFavorite.toggleClass('not-favorite');
            allMatchingFavorite.toggleClass('favorite');
              if (addOrRemove == 'add') {
                allMatchingFavorite.html('&#9733;');
                allMatchingFavorite.attr('aria-pressed', 'true');
                allMatchingFavorite.attr('title', 'Remove '+ resourceTitle +' from my favorite '+resourceType+'s');
              } else {
                allMatchingFavorite.html('&#9734;');
                allMatchingFavorite.attr('aria-pressed', 'false');
                allMatchingFavorite.attr('title', 'Add '+ resourceTitle +' to my favorite '+resourceType+'s');
              }
            favorite.removeClass('spinner-grow spinner-grow-sm text-warning');
          }
        });
      });
      $('.favorite-indicator').keydown(function (event) {
        if (event.keyCode == 13) {
          $(this).click();
      }
      });

      // prevent from tabbing outside modal 
      // select all focusable elements in main, and set tabindex to -1
      $('.mysched').click(function() {
        const focusableElements = [
        'a[href]',
        'area[href]',
        'input:not([disabled])',
        'select:not([disabled])',
        'textarea:not([disabled])',
        'button:not([disabled])',
        'iframe',
        'object',
        'embed',
        '[contenteditable]',
        '[tabindex]:not([tabindex="-1"])'
      ].join(',');
      allFocusable = $('main').find(focusableElements)
      allFocusable.each(function() {
        $(this).attr('prior-tabindex', $(this).attr('tabindex'))
        $(this).attr('tabindex', '-1');
      })
      // add an event listener -- when focus is restored to main panel, reactivate tabindexes
      .focus('main', 
        function() {
          allFocusable.each(function() {
            if ($(this).attr('prior-tabindex')) {
              $(this).attr('tabindex', $(this).attr('prior-tabindex'));
            } else {
              $(this).removeAttr('tabindex');
            }
          })
        });
      });
  });
  </script>
  <!-- Show user's subject menu (mobile version) -->

  <nav class="d-block d-lg-none mb-4 bg-white ">
    <div class="row">
    <h1 class="h3 text-wrap text-center col-10 mt-2">Hello, <%= user.person.givenName %>
    </h1>
    <button id="mobile-menu-button" class="btn btn-dark float-end shadow-sm col-1 flex-grow-1" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="max-width: 50px; min-width: 40px" aria-label="Main menu">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list"></i>
      </span>
    </button>
  </div>

  <% let orgMobileLogo; %>
  <% let orgMobileLogoStr = config.images.organizationMobileLogo %>
  <% if (orgMobileLogoStr && fs.existsSync('public/img/'+ orgMobileLogoStr)) { %>
    <% orgMobileLogo = '/img/' + orgMobileLogoStr; %>
  <% } %>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="card flex-column border-0">
        <div class="card-header p-2 shadow-sm">
          <div class="offcanvas-header col-12">
            <div class="m-2">
              <% if (orgMobileLogo != '') { %>
                
                <a class="navbar-brand" href="<%= config.organization.url %>"><img class="img-fluid w-75"
                  src="<%= orgMobileLogo %>" alt="<%= config.organization.name %>"></a>
                <% } %>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
        </div>

        <div class="card-body bg-gray-800">
        <div class="offcanvas-body">
                      <!-- Show log-out button -->
                      <div class="row">
                        <div class="col text-center">
                          <div class="text-center">
                            <a href="/logout" class="logout mt-3 btn btn-light btn-sm p-2 shadow">
                              <span class="glyphicon glyphicon-log-out"></span>
                              <i class="bi bi-power me-2 shadow"></i>Log out
                          </a>
                          </div>
                        </div>
                      </div>

                  <!-- End log-out button -->
          <div class="flex-column mt-4 text-center" id="navbarTogglerDemo02">
            <h2 class="h3 text-white" id="subject-title-mobile">My subjects</h2>
            <div class="ps-4 pt-3 text-light"><small>(based on courses & departmental
              affiliation)</small></div>
            <ul class="navbar-nav nav nav-tabs pb-3 myTab" id="myTab-mobile" role="tablist">
              <% if (user.uniqueSubjects) { %>
                <% user.uniqueSubjects.sort().forEach((s)=> { %>
                  <li class="nav-item m-2" role="presentation">
                    <% let tabId=s.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
                      <button class="text-start nav-link text-light ps-3 border-0" id="<%= tabId %>-tab-mobile"
                        data-bs-toggle="tab" data-bs-target="#<%= tabId %>" role="tab" aria-controls="<%= s %>">
                        <i class="bi bi-caret-right-fill mr-1"></i>
                        <%= s %>
                      </button>
                  </li>
                  <% }); %>
                    <% } %>

                          
            </ul>

            <div class="ps-4 pt-3 text-light" id="manage-subjects-links"><a href="/favorites/subjects" class="text-light"><i class="fa fa-gear"></i> Manage Subjects</a></div>
          </div>

        </div>
        </div>
      </div>
      </div>
  </nav>

  <!-- Show user's subject menu (desktop version) -->
  <nav class="navbar col-xl-2 col-lg-3 d-lg-block d-none p-0">
    <div class="card flex-column mt-4 text-center shadow-sm">
      <div class="card-header p-2">
        <h1 class="h3 text-wrap mt-2">Hello,</br>
          <%= user.person.givenName %>
        </h1>
      </div>
      
      <div class="card-body bg-gray-800">


        <!-- Show log-out button -->
          <a href="/logout" id="logout-button-desktop" class="logout mt-3 mb-3 btn btn-light p-2 shadow">
              <span class="glyphicon glyphicon-log-out"></span>
              <i class="bi bi-power me-2 shadow"></i>Log out
          </a>

        <!-- end logout -->
        <h2 class="h4 text-white card-title" id="subject-title-desktop">My subjects</h2>
        <div class="ps-4 pb-1 text-light"><small>(based on courses & departmental
          affiliation)</small></div>
        <ul class="navbar-nav nav nav-tabs pb-3 myTab" id="myTab" role="tablist">
          <% if (user.uniqueSubjects) { %>
            <% user.uniqueSubjects.forEach((s)=> { %>
              <li class="nav-item m-2" role="presentation">
                <% let tabId=s.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
                  <button class="text-start nav-link text-light ps-3 border-0" id="<%= tabId %>-tab"
                    data-bs-toggle="tab" data-bs-target="#<%= tabId %>" role="tab" aria-controls="<%= s %>">
                    <i class="bi bi-caret-right-fill mr-1"></i>
                    <%= s %>
                  </button>
              </li>
              <% }); %>
                <% } %>
        </ul>
        

      <div class="ps-4 pt-3 text-light" id="manage-subjects-links"><a href="/favorites/subjects" class="text-light"><i class="fa fa-gear"></i> Manage Subjects</a></div>
        


      </div>

    </div>
  </nav>
  <!-- End of showing user's subject menu -->

  <div class="col-xl-8 col-lg-9 col-12">

    <div class="tab-content" id="myTabContent">
      <% if (fs.existsSync('views/partials/custom-alert.ejs')) { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%- include('./partials/custom-alert.ejs') %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <% tabsCreated=[]; %>
        <% user.subjectData.forEach(m=> { %>
          <%- include('partials/subject-info', {subj: m, config: config}) %>
            <% tabsCreated.push(m.name) %>
              <% }); %>
    </div>
  </div>

  <!-- Show user's library account and featured content -->
  <% let mainLogo = '/img/myguide-logo.svg'; %>
  <% let mainLogoStr = config.images.myguideCustomLogo %>
  <% if (mainLogoStr && fs.existsSync('public/img/'+ mainLogoStr)) { %>
    <% mainLogo = '/img/' + mainLogoStr; %>
  <% } %>

  <div class="col-xl-2 col-lg-9 offset-lg-3 offset-xl-0">
    <div class="d-none d-xl-flex justify-content-center">
      <% if (mainLogo != '') { %>
        <img src="/img/myguide-logo.svg" alt="MyGuide" class="w-100" style="max-width: 200px;">
      <% } %>
    </div>
    <div class="mt-xl-1 d-md-inline-flex flex-xl-column">
      <div class="card mx-md-3 mx-xl-2 my-2">
        <div class="card-header px-4 py-3 d-flex">
          <a class="libraryAcc collapsed flex-grow-1" data-bs-toggle="collapse" href="#collapseCirc"
            aria-expanded="false" aria-controls="collapseCirc">
            <h4 class="mb-0">My Library Account</h4>
          </a>
          <span class="folding-arrows">
            <i class="bi bi-caret-down"></i>
          </span>
        </div>
        <div class="card-body d-print-none collapse" id="collapseCirc">
          <% fakeCirc=false %>
                  <% if (circ !=undefined && circ.hasOwnProperty('circSystem')) { %>
                    <%- include('partials/circulation/'+circ.circSystem+'.ejs', {data: circ}) %>
                      <% } else { %>
                        <p>No data avalable</p>
                        <% } %>
        </div>
      </div>
      <% if (config.featuredContent && config.featuredContent.display && config.featuredContent.display == true && config.featuredContent.filename) { %>
      <div class="card mx-md-3 mx-xl-2 my-2">
        <div class="card-header px-4 pt-3 pb-2">
          <h4><%= config.featuredContent.cardLabel %></h4>
        </div>
        <div class="card-body">
          <% if (fs.existsSync('views/partials/'+ config.featuredContent.filename)) { %>
            <%- include('./partials/' + config.featuredContent.filename) %>
          <% } %>
        </div>
      </div>
      <% } %>

    </div>
  </div>
  <div id="fav-desc" class="sr-only">Items marked as favorites will be remembered for future sessions.</div>

  <%- include ('footer', {config: config}) %>