<%- include ('header') %>

  <script>
    $(document).ready(function () {
      $('.collapse').collapse('hide');
      $('button[role="tab"]').on('click', function() { window.scrollTo(0,0)})
      $('button.librarian-info-toggle').click(function () {
        $(this).text(function (i, old) {
          return old == 'More' ? 'Less' : 'More';
        });
      });
    });
  </script>
  <!-- Show user's subject menu (mobile version) -->

  <nav class="d-block d-lg-none mb-4 bg-white ">
    <div class="row">
    <h1 class="h3 text-wrap text-center col-10 mt-2">Hello, <%= user.person.givenName %>
    </h1>
    <button class="btn btn-dark float-end shadow-sm col-1 flex-grow-1" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="max-width: 50px; min-width: 40px">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list"></i>
      </span>
    </button>
  </div>

  <% let orgMobileLogo; %>
  <% if (fs.existsSync('public/img/org-mobile-logo.svg')) { %>
    <%  orgMobileLogo = '/img/org-logo.svg'; %>
  <% } else if (fs.existsSync('public/img/org-mobile-logo.png')) { %>
    <%  orgMobileLogo = '/img/org-mobile-logo.png'; %>
  <% } %>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="card flex-column border-0">
        <div class="card-header p-2 shadow-sm">
          <div class="offcanvas-header col-12">
            <div class="m-2">
              <% if (orgMobileLogo != '') { %>
          
                <a class="navbar-brand" href="<%= config.organization.url %>"><img class="img-fluid w-75"
                  src="<%= orgMobileLogo %>" alt="<%= config.organization.name %>"></a>
                <% } %>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
        </div>

        <div class="card-body bg-gray-800">
        <div class="offcanvas-body">
          <div class="flex-column mt-4 text-center" id="navbarTogglerDemo02">
            <h3 class="text-white" id="subject-title">My subjects</h3>
            <ul class="navbar-nav nav nav-tabs pb-3" id="myTab" role="tablist">
              <% if (user.uniqueSubjects) { %>
                <% user.uniqueSubjects.sort().forEach((s)=> { %>
                  <li class="nav-item m-2" role="presentation">
                    <% let tabId=s.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
                      <button class="text-start nav-link text-light ps-3 border-0" id="<%= tabId %>-tab"
                        data-bs-toggle="tab" data-bs-target="#<%= tabId %>" role="tab" aria-controls="<%= s %>">
                        <i class="bi bi-caret-right-fill mr-1"></i>
                        <%= s %>
                      </button>
                  </li>
                  <% }); %>
                    <% } %>
                      <li class="ps-4 pt-3 text-light"><small>(based on courses & departmental
                          affiliation)</small></li>
                          
            </ul>

            <!-- Show log-out button -->
            <div>
              <a href="/logout">
                <button id="logout" type="button" class="mt-3 btn btn-light btn-sm p-2 shadow">
                  <span class="glyphicon glyphicon-log-out"></span>
                  <i class="bi bi-power me-2 shadow"></i>Log out</button>
              </a>
            </div>
          </div>

        </div>
        </div>
      </div>
      </div>
  </nav>

  <!-- Show user's subject menu (desktop version) -->
  <nav class="navbar col-xl-2 col-lg-3 d-lg-block d-none p-0">
    <div class="card flex-column mt-4 text-center shadow-sm">
      <div class="card-header p-2">
        <h1 class="h3 text-wrap mt-2">Hello,</br>
          <%= user.person.givenName %>
        </h1>
      </div>
      <div class="card-body bg-gray-800">
        <h3 class="h4 text-white card-title" id="subject-title">My subjects</h3>

        <ul class="navbar-nav nav nav-tabs pb-3" id="myTab" role="tablist">
          <% if (user.uniqueSubjects) { %>
            <% user.uniqueSubjects.forEach((s)=> { %>
              <li class="nav-item m-2" role="presentation">
                <% let tabId=s.replace( /[^a-zA-Z0-9]+/g, '_' ); %>
                  <button class="text-start nav-link text-light ps-3 border-0" id="<%= tabId %>-tab"
                    data-bs-toggle="tab" data-bs-target="#<%= tabId %>" role="tab" aria-controls="<%= s %>">
                    <i class="bi bi-caret-right-fill mr-1"></i>
                    <%= s %>
                  </button>
              </li>
              <% }); %>
                <% } %>
                  <li class="ps-4 pt-3 text-light"><small>(based on courses & departmental
                      affiliation)</small></li>
                  <li class="ps-4 pt-3 text-light"><a href="/favorites/subjects" class="text-light"><i class="fa fa-gear"></i> Manage Subjects</a></li>
        </ul>

        <!-- Show log-out button -->
        <div>
          <a href="/logout">
            <button id="logout" type="button" class="mt-3 btn btn-light btn-sm p-2 shadow">
              <span class="glyphicon glyphicon-log-out"></span>
              <i class="bi bi-power me-2 shadow"></i>Log out</button>
          </a>
        </div>
        <div class="mt-5 mb-3">
          <% let orgLogo = '' %>
          <% if (fs.existsSync('public/img/org-logo.svg')) { %>
            <%  orgLogo = '/img/org-logo.svg'; %>
          <% } else if (fs.existsSync('public/img/org-logo.png')) { %>
            <%  orgLogo = '/img/org-logo.png'; %>
          <% } %>
          <% if (orgLogo != '') { %>
          <a class="navbar-brand p-0" href="<%= config.organization.url %>"><img class="img-fluid"
              src="<%= orgLogo %>" alt="<%= config.organization.name %>"></a>
          <% } %>
        </div>

      </div>

    </div>
  </nav>
  <!-- End of showing user's subject menu -->

  <div class="col-xl-8 col-lg-9 col-12">

    <div class="tab-content" id="myTabContent">
      <% if (fs.existsSync('views/partials/custom-alert.ejs')) { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%- include('./partials/custom-alert.ejs') %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>

      <% tabsCreated=[]; %>
        <% user.subjectData.forEach(m=> { %>
          <%- include('partials/subject-info', {subj: m, config: config}) %>
            <% tabsCreated.push(m.name) %>
              <% }); %>
    </div>
  </div>

  <!-- Show user's library account and featured content -->
  <% let mainLogo = '' %>
  <% if (fs.existsSync('public/img/myguide-logo.svg')) { %>
    <%  mainLogo = '/img/myguide-logo.svg'; %>
  <% } else if (fs.existsSync('public/img/myguide-logo.png')) { %>
    <%  mainLogo = '/img/myguide-logo.png'; %>
  <% } %>
  <div class="col-xl-2 col-lg-9 offset-lg-3 offset-xl-0">
    <div class="d-none d-xl-flex justify-content-center">
      <% if (mainLogo != '') { %>
        <img src="/img/myguide-logo.svg" alt="MyGuide" class="w-100" style="max-width: 200px;">
      <% } %>
    </div>
    <div class="mt-xl-1 d-md-inline-flex flex-xl-column">
      <div class="card mx-md-3 mx-xl-2 my-2">
        <div class="card-header px-4 py-3 d-flex">
          <a class="libraryAcc collapsed flex-grow-1" data-bs-toggle="collapse" href="#collapseCirc"
            aria-expanded="false" aria-controls="collapseCirc">
            <h4 class="mb-0">My Library Account</h4>
          </a>
          <span class="folding-arrows">
            <i class="bi bi-caret-down"></i>
          </span>
        </div>
        <div class="card-body d-print-none collapse" id="collapseCirc">
          <% fakeCirc=false %>
                  <% if (circ !=undefined && circ.hasOwnProperty('circSystem')) { %>
                    <%- include('partials/circulation/'+circ.circSystem+'.ejs', {data: circ}) %>
                      <% } else { %>
                        <p>No data avalable</p>
                        <% } %>
        </div>
      </div>
      <% if (config.featuredContent && config.featuredContent.display && config.featuredContent.display == true && config.featuredContent.filename) { %>
      <div class="card mx-md-3 mx-xl-2 my-2">
        <div class="card-header px-4 pt-3 pb-2">
          <h4><%= config.featuredContent.cardLabel %></h4>
        </div>
        <div class="card-body">
          <% if (fs.existsSync('views/partials/'+ config.featuredContent.filename)) { %>
            <%- include('./partials/' + config.featuredContent.filename) %>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <%- include ('footer', {config: config}) %>